extends layout

block content
  h1= title
  p Welcome to #{title}
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Sign up
    br
  if (user)
    a(href="/api/v1/users") Users
    br
    a(href="/api/v1/users/map") Nearby Map
