doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js')
    script(src='/javascripts/script.js')

    block head
  body
    if (!user)
      p not logged in
    else
      nav
        a(href="/") Home
        br
        a(href="/api/v1/users/" + user.username) #{user.username}
        br
        a(href="/logout") Logout
        br
        br
    block content
