extends layout

block content
  style.
    #map {
      height: 400px;
      width: 400px;;
    }
    
  .container
    div#map
      
  script(src='/javascripts/geonavigation.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZwpThrbZbJVY1yt-oTlYePJ_s5I-GZIU")