extends layout

block content
  style.
    td {
      padding: 16px;    
    }

  .container
    h1 #{title}
    p.lead #{description}
    br

    table
      thead
        tr 
          th _id
          th username
      tbody
        each user in data
          tr
            td 
              a(href='/api/v1/users/' + user.username) #{user.id}
            td 
              a(href='/api/v1/users/' + user.username) #{user.username}
        else
          h2 No users found